<h1>Welcome to Happy Learning</h1>

<p>Want to learn more faster and better?  This app is an adaptive flash-card app.  As you study, the app models your performance and learns about how you learn.  It tells you what you should study and when in order to learn in the most effecient manner possible.  In this way, you learn more in less time time and remember it for longer.  Happy learning!</p>

<%= link_to 'sign up / login', welcome_auth_path %>



<%= link_to 'all decks', alldecks_index_path %>

<%= link_to 'more info', welcome_splash_path %>

