<div class="container">
  <div class="row">
    <div class="col-lg-12 text-center">
      <h1>Welcome to Flash Genius!</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <br><br>
      <p>
        Want to learn more faster and better?  This app is an adaptive flash-card app.  As you study, the app models your performance and learns about how you learn.  It tells you what you should study and when in order to learn in the most effecient manner possible.  In this way, you learn more in less time time and remember it for longer.  Happy learning!
      </p>
    </div>
    <div class="row">
      <div class="col-md-2 col-md-offset-5">
        <br>
        <%= link_to 'Sign Up / Login', welcome_auth_path, class: "form-control btn btn-warning btn-xl" %>
        <br><br>
        <%= link_to 'All Decks', alldecks_index_path, class: "form-control btn btn-warning btn-xl" %>
        <br><br>
        <%= link_to 'More Info', welcome_splash_path, class: "form-control btn btn-warning btn-xl" %>
      </div>
    </div>
  </div>
</div>