<h1>Welcome to Regression Fit Knowledge Cards</h1>
<p><a href='welcome/auth'>Login with Google</a></p>
<p><a href='/users/'>Check out current users</a></p>
<p><a href='/alldecks/index'>Check out current decks</a></p>
