<h1>Welcome to Regression Fit Knowledge Cards</h1>
<h2>plain old homepage where you login</h2>

<h4>login</h4>
<%= link_to 'sign up / login', welcome_auth_path %>



<h4>check out all decks</h4>
<%= link_to 'all decks', alldecks_index_path %>

