<h1>Welcome to Regression Fit Knowledge Cards SPLASH PAGE</h1>

<h2>here's a lot of information about RFNC that you would want to know if this were your first time on our page. after that you want to go directly to the root page.</h2>

<h4>check out some of the current decks</h4>
<%= link_to 'all decks', alldecks_index_path %>

<h4>login in with facebook</h4>
<%= link_to 'sign up', welcome_auth_path %>
