<div class="container">
  <div class="row">
    <div class="col-lg-12 text-center">
      <h1>About Flash Genius</h1>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam gravida, ligula sed tincidunt volutpat, augue ipsum dignissim neque, hendrerit vestibulum velit ante ut odio. In neque dolor, suscipit consequat turpis ac, aliquet sodales ipsum. Suspendisse libero purus, fringilla eu commodo nec, malesuada vitae risus. Phasellus placerat egestas lacus, vel fermentum felis rhoncus eu. Donec id varius diam. Cras et augue bibendum, finibus urna ut, bibendum justo. Nam vitae metus sed eros rutrum pharetra. Morbi elementum consectetur bibendum. Aliquam egestas augue vel consectetur porta. Donec gravida, enim id malesuada gravida, quam dui finibus est, nec pellentesque diam purus eu lorem. Suspendisse scelerisque dapibus neque in hendrerit. Morbi aliquam tellus facilisis consequat luctus. Vivamus vulputate eu nibh non hendrerit.
        <br><br>
        Ut iaculis interdum nibh, ut convallis felis tincidunt non. In tincidunt est nec eros volutpat, rhoncus euismod orci vulputate. Aenean nulla erat, tempor ac odio at, interdum pharetra nulla. Phasellus libero lacus, blandit eu leo sed, molestie dignissim nisl. Nullam auctor nunc sapien, et luctus turpis placerat et. Maecenas scelerisque auctor suscipit. Maecenas sit amet purus ipsum. Suspendisse ac leo a libero posuere commodo vitae sit amet nulla. Maecenas accumsan rhoncus ligula non egestas. Donec lorem odio, dignissim a velit sed, vehicula vulputate libero. Sed quis nisi ac est egestas imperdiet. Cras placerat ex at quam interdum, quis posuere libero pretium. Sed porta ligula orci, eu congue augue aliquam interdum. Pellentesque urna sapien, molestie ullamcorper iaculis sit amet, efficitur in lacus. Mauris molestie, eros quis aliquam tempor, leo velit interdum erat, porttitor malesuada urna ligula vel felis.
        <br><br>
        Praesent sit amet libero vehicula, mollis odio ut, pulvinar urna. Sed condimentum, tortor laoreet bibendum porta, nisl massa elementum tellus, sed vulputate libero ligula a ante. Curabitur imperdiet cursus odio quis vehicula. Proin maximus mi at auctor commodo. Praesent at aliquam orci. Pellentesque sit amet orci nulla. Nunc ac viverra turpis. Donec convallis dolor id mi lacinia, congue dignissim turpis consectetur. Maecenas iaculis ultricies cursus.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2 col-md-offset-5">
      <br>
      <%= link_to 'All Decks', alldecks_index_path, class: "form-control btn btn-default btn-xl" %>
      <br><br>
      <%= link_to 'Sign Up With Google', welcome_auth_path, class: "form-control btn btn-default btn-xl" %>
    </div>
  </div>
</div>


