<h1>new question</h1>

<form>
  </input><input type='text' name='card[question]'></input>
  <input id='mybox' type='checkbox' name='card[answer_1_boolean]' checked="checked"><input type='text' name='card[answer_1]'></input>
  <input type='checkbox' name='card[answer_2_boolean]' checked="checked"><input type='text' name='card[answer_2]'></input>
  <input type='checkbox' name='card[answer_3_boolean]' checked="checked"><input type='text' name='card[answer_3]'></input>
  <input type='checkbox' name='card[answer_4_boolean]' checked="checked"><input type='text' name='card[answer_4]'></input>
</form>

<input type="checkbox" name="vehicle" value="Bike"> I have a bike<br>
