<div class="container">
  <%= link_to '< Back To Edit', edit_user_deck_path(user_id: @user.id, id: @deck.id) %>
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <h1 class="text-center">Add Card</h1>
      <form action='/users/<%= @user.id %>/decks/<%= @deck.id %>/cards' method='post'>
        <br><br>
        <input class="form-control" type='text' name='card[question]' placeholder="Question?"></input>
        <br><br>
        <input class="form-control" type='text' name='card[answer_1]' placeholder="Answer 1"></input>
        <input class="form-control" type='text' name='card[answer_2]' placeholder="Answer 2"></input>
        <input class="form-control" type='text' name='card[answer_3]' placeholder="Answer 3"></input>
        <input class="form-control" type='text' name='card[answer_4]' placeholder="Answer 4"></input>
        <br>
        <input class="form-control" type='text' name='card[answer_number]', placeholder="Correct Answer Number"></input><br>
        <input class="btn btn-xl btn-primary form-control" type='submit' name='Create'></input>
        <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
      </form>
    </div>
  </div>
</div>



