// Place all the styles related to the cards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.card {
  border: 1px solid #ccc;
  border-radius: 7px;
}

.questions {
  font-size: 20px;
  text-align: center;
  padding: 10px;
}

.card-form {
  padding: 10px;
}

.card-submit {
  margin-top: 20px;
}

.answer-alert {
  font-size: 18px;
  margin: 20px 10px;
}

fieldset {
  margin: 0 auto;
}