<h1>congratulations, you've finished the deck</h1>

<!-- <p>redirecting back to your profile page so you can view your results</p> -->
<p> your score: <%= @score %>% </p>
<%= link_to 'back to profile', user_path(@user.id) %>

<div style="display: none">
  <div id='user_id'><%= @user.id %></div>
</div>
